:root {
  --theme-primary: #131212;
  --theme-secondary: #a99fe0;
  --theme-accent: #2f2e41;
  --transparent-theme-accent: rgba(47, 46, 65, 0.47);
  --transparent-theme-secondary: rgba(169, 159, 224, 0.25);
  --white: #eeeaea;
  --white-more-btn: #dee2e5;
  --font-size: 16px;
  --boldness: 700;
  --section-padding: 3rem;
  --navbar-padding: 1rem;
  --button-padding: 0.25rem 0.75rem;
}

body.debug .container,
body.debug .container-fluid {
  outline: 2px double blue;
  outline-offset: -2px;
}

body.debug .row {
  outline: 2px dashed red;
  outline-offset: -2px;
}

body.debug [class*="col-"] {
  outline: 2px dotted forestgreen;
  outline-offset: -3px;
}

* {
  font-family: 'Creepster', sans-serif;
}

section {
  padding: var(--section-padding);
}

.bg-theme-primary {
  background-color: var(--theme-primary);
}

.bg-theme-secondary {
  background-color: var(--theme-secondary);
}

.bg-theme-accent {
  background-color: var(--theme-accent);
}

.bg-white {
  background-color: var(--white);
}

.text-theme-primary {
  color: var(--theme-primary);
}

.text-theme-secondary {
  color: var(--theme-secondary);
}

.text-theme-accent {
  color: var(--theme-accent);
}

.text-embolden {
  font-weight: var(--boldness);
}

.navigation-bar {
  padding: var(--navbar-padding);
}

.font-large {
  font-size: 6rem;
}

.ls-1 {
  line-height: 2.0;
}

.ws-1 {
  word-spacing: 1rem;
}

.vertical-bar {
  height: 5rem;
  width: 0.5rem;
  background-color: var(--theme-secondary);
}

.vertical-bar-2 {
  height: 5rem;
  width: 1rem;
  background-color: var(--theme-accent);
}

/* ANCHOR trying to adjust view height of the col-4 form that is inside the row with the hero image so I can center the form and text vertically */
.hero-vh {
  height: 75vh;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1510917065317-aa26965fe730?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 75vh;
  background-position: center;
  background-size: cover;
}

.hero-form {
  min-height: 25rem;
  max-height: 55vh;
  min-width: 20rem;
  max-width: 20vw;
}

.btn-submit {
  border: 1px solid var(--theme-accent);
  background-color: var(--theme-accent);
  color: var(--theme-secondary);
  padding: var(--button-padding);
}

.btn-submit:hover {
  color: var(--theme-accent);
}

.glass-card {
  animation-name: glassColorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  background: var(--transparent-theme-accent);
  border: 1px solid var(--theme-accent);
}

@keyframes glassColorChange {
  from {background-color: var(--transparent-theme-accent);}
  to {background-color: var(--transparent-theme-secondary);}
}

.common-background {
  background-image: url("https://images.unsplash.com/photo-1482977036925-e8fcaa643657?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-size: cover;
}

.video-fluid {
  max-width: 100%;
}

.video-border {
  border: 0.5rem solid var(--theme-accent);
}

.btn-more {
  border: 1px solid var(--theme-secondary);
  background-color: var(--theme-secondary);
  color: var(--theme-primary);
  padding: var(--button-padding);
}

.btn-more:hover {
  background-color: var(--white-more-btn);
  border: 1px solid var(--theme-secondary);
}

.img-circle {
  border-radius: 50%;
  min-height: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  border: 0.5rem solid var(--theme-accent);
}

@media screen and (min-width: 768px) {

  .overlapping-box-md {
    height: 45vh;
  }

  .overlapping-box-row-md {
    max-height: 30vh;
  }

  .non-overlapping-box-md {
    max-height: 30vh;
  }


}

@media screen and (max-width: 768px) {
  .fs-md-7 {
    font-size: 1rem;
  }

  .video-fluid-md {
    max-width: 75%;
  }
} 
}

@media screen and (max-width: 992px) {
  .fs-lg-4 {
    font-size: 2.5rem;
  }

  .video-fluid-lg {
    max-width: 50%;
  }
} 
